body {
  background-image: url("../images/Background.jpg");
  background-color: steelblue;
}

h3, h4, h5 {
  text-align: center;
}

.instructions{
  background-color: blanchedalmond;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.main {
  margin: auto;
}

.charCard {
  border-width: 2px;
  border-style: solid;
  border-color: brown;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
}

.charPicture {
  width: 100px;
  height: 100px;
  margin: auto;
}

#titleBar {
  position: relative;
}
#titleScroll {
  width: 100%;
  height: 150px;
}
#gameTitle {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: royalblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

#messages {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  background-color: blanchedalmond;
}